/* Start Create Profil */
.create-profile {
    .social-network-links {
        .input-social {
            display: flex;

            i {
                padding: 0.5rem;
                width: 4rem;
            }

            @each $counter,
            $color in $colors {
                &:nth-child(#{$counter}) {
                    i {
                        color: $color;
                    }
                }
            }
        }
    }
}

/* End  Create Profil */