// Start Dashboard
// .dashboard
.dashboard {

    // .dashboard .dashboard-content
    #{&}-content {

        // .dashboard .dashboard-content .buttons
        .buttons {

            // .dashboard .dashboard-content .buttons a
            a {
                display: block;

                // .dashboard .dashboard-content .buttons a:not(:last-child)
                &:not(:last-child) {
                    margin-bottom: 0.5rem;

                    @include medium {
                        margin-bottom: 0;
                    }
                }

                @include medium {
                    display: inline-block;
                }
            }
        }

        // .dashboard .dashboard-content .table
        .table {
            width: 100%;

            @include medium {
                width: auto;
            }

            // .dashboard .dashboard-content .table thead
            thead {
                border: none !important;
            }

            // .dashboard .dashboard-content .table th , .dashboard .dashboard-content .table td
            th,
            td {
                padding: 1rem;
            }

            // .dashboard .dashboard-content .table th:last-child , .dashboard .dashboard-content .table td:last-child
            td:last-child,
            th:last-child {
                @include medium {
                    text-align: left;
                }
            }
        }

    }
}

// End Dashboard