// Start Landing
// .landing
.landing {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    @include setBackgroundColor(rgba(0, 0, 0, 0.7));

    background: {
        image: url("../images/landing/landing.jpg");
        repeat: no-repeat;
        position: center center;
        size: cover;
    }

    // .landing::before
    &::before {
        content: "";
        @include overlay(black, 0.7);
    }

    //.landing .landing-content
    #{&}-content {
        position: relative;
    }
}

// End Landing