// Start Profiles
// .profiles
.profiles {

    // .profiles .profiles-item
    #{&}-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding: 1rem;
        line-height: 1.8;
        border: 1px solid $border-color;

        @include medium {
            flex-direction: row;
            text-align: left;
            gap: 3rem;
        }

        // .profiles .profiles-item .image
        .image {
            @include medium {
                flex-basis: 150px;
            }

            // .profiles .profiles-item .image img
            img {
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        // .profiles .profiles-item .info
        .info {
            @include medium {
                flex: 2;
            }
        }

        // .profiles .profiles-item .skills
        .skills {
            display: none;

            @include medium {
                display: block;
                flex: 1;
            }

            // .profiles .profiles-item .skills span
            span {
                margin-left: 0.3rem;
            }
        }

        // .profiles .profiles-item:not(:last-child)
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }
}

// End Profiles