//Start Profile
// .profile
.profile {

    //.profile .profile-content
    #{&}-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        @include medium {
            flex-direction: row;
            flex-wrap: wrap;
        }

        //.profile .profile-content .line
        .line {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            height: 1px;
            background-color: $border-color;
        }

        //.profile .profile-content-top
        &-top {
            @include setBackgroundColor($primary-color);
            display: flex;
            flex-direction: column;
            align-items: center;

            @include medium {
                flex-basis: 100%;
            }

            //.profile .profile-content-top img
            img {
                display: block;
                width: 100%;
                height: 100%;
            }

            //.profile .profile-content-top .social-links
            .social-links {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;

                //.profile .profile-content-top .social-links a
                a {
                    color: $white-color;
                    @include transition(all 0.3s ease-in);

                    //.profile .profile-content-top .social-links a:hover
                    &:hover {
                        color: $black-color;
                    }
                }
            }
        }

        //.profile .profile-content .bio-skills
        .bio-skills {
            @include medium {
                flex-basis: 100%;
            }

            //.profile .profile-content .bio-skills ul
            ul {
                margin-top: 1.5rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2rem;

                @include medium {
                    flex-direction: row;
                    justify-content: center;
                }
            }
        }

        //.profile .profile-content .experiences ,.profile .profile-content .education
        .experiences,
        .education {
            @include medium {
                flex: 1;
            }

            //.profile .profile-content .experiences p ,.profile .profile-content .education p
            .experiences p {
                margin: 0.5rem 0;
            }
        }

        //.profile .profile-content .github-repos
        .github-repos {
            @include medium {
                flex-basis: 100%;
            }

            //.profile .profile-content .github-repos .repo
            .repo {
                display: flex;
                gap: 0.5rem;

                //.profile .profile-content .github-repos .repo .text
                .text {
                    flex: 8;
                }

                //.profile .profile-content .github-repos .repo .badges
                .badges {
                    flex: 2;
                    display: flex;
                    flex-direction: column;

                    //.profile .profile-content .github-repos .repo .badges .badge:not(:last-child)
                    .badge:not(:last-child) {
                        margin-bottom: 0.3rem;
                    }
                }

                //.profile .profile-content .github-repos .repo:not(:last-child)
                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

//End Profile