.container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;

    margin: auto {
        top: 8rem;
        bottom: 2rem;
    }

    @include small {
        width: 540px;
    }

    @include medium {
        width: 720px;
        margin-top: 6rem;
    }

    @include large {
        width: 960px;
    }

    @include extraLarge {
        width: 1140px;
    }
}