//Start Header 
// .header
.header {
    @include setBackgroundColor($dark-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    padding: 0.7rem 2rem;
    @include opacity(0.9);
    border-bottom: 1px solid $primary-color;

    @include medium {
        flex-direction: row;
        justify-content: space-between;
    }

    // .header a
    a {
        @include setBackgroundColor($dark-color);
        @include transition(color 0.3s ease-in);

        // .header a:hover
        &:hover {
            color: $primary-color;
        }
    }

    // .header .links
    .links {
        display: flex;
        align-items: center;

        // .header .links a
        a {
            display: block;
            padding: 0.5rem 1rem;
        }

        // .header .links span
        span {
            margin-left: 0.3rem;
        }
    }
}

//End Header 