/* Start Badges */

.badge {
    font-size: 0.8rem;
    font-weight: bold;
    padding: 0.1rem 0;
    margin: 0.3rem;
    color: $black-color;
    background-color: $light-color;

    // .badge.badge-primary
    &.badge-primary {
        @include setBackgroundColor($primary-color)
    }

    // .badge.badge-dark
    &.badge-dark {
        @include setBackgroundColor($dark-color)
    }

    // .badge.badge-light
    &.badge-light {
        @include setBackgroundColor($light-color);
    }

    // .badge.badge-success
    &.badge-success {
        @include setBackgroundColor($success-color)
    }

    // .badge.badge-danger
    &.badge-danger {
        @include setBackgroundColor($danger-color)
    }
}

/* End Badges */