// Start Buttons
.btn {
    display: inline-block;
    color: $black-color;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    outline: none;
    user-select: none;
    padding: 0.4rem 1.3rem;
    margin-right: 0.3rem;
    @include transition(all 0.3s ease-in);

    &-light {
        @include setBackgroundColor($light-color);

        &:hover {
            @include setBackgroundColor($night-color);
        }
    }

    &-primary {
        @include setBackgroundColor($primary-color);

        &:hover {
            background-color: lighten($primary-color, 5%);
        }
    }

    &-danger {
        @include setBackgroundColor($danger-color)
    }

    &-dark {
        @include setBackgroundColor($dark-color)
    }
}

// End Buttons