body {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: $white-color;
    color: #333;
}

a {
    color: $primary-color;
}

// Backgrouds Color

.bg {

    // .bg-primary
    &-primary {
        @include setBackgroundColor($primary-color);
    }

    // .bg-light
    &-light {
        @include setBackgroundColor($light-color);
        border: 1px solid #ccc;
    }

    // .bg-dark
    &-dark {
        @include setBackgroundColor($dark-color);
    }

    // .bg-success
    &-success {
        @include setBackgroundColor($success-color);
    }

    // .bg-danger
    &-danger {
        @include setBackgroundColor($danger-color);
    }

    // .bg-white
    &-white {
        @include setBackgroundColor($white-color);
        border: 1px solid #ccc;
    }
}

// Dark Overlay 
.dark-overlay {
    &::before {
        @include overlay(#000);
    }
}

//  Text Styles 
.x-large {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;

    @include minsmall {
        font-size: 4rem;
    }
}

.large {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 1rem;

    @include minsmall {
        font-size: 3rem;
    }
}

.lead {
    font-size: 1rem;
    margin-bottom: 1rem;

    @include minsmall {
        font-size: 1.5rem;
    }
}

.text {

    // .text-primary
    &-primary {
        color: $primary-color;
    }

    // .text-dark
    &-dark {
        color: $dark-color;
    }

    // .text-success
    &-success {
        color: $success-color;
    }

    // .text-danger
    &-danger {
        color: $danger-color;
    }

    // .text-white
    &-white {
        color: $white-color;
    }

    &-center {
        text-align: center;
    }

    &-left {
        text-align: left;
    }

}

// Create Classes For Margin and Padding

@for $i from 1 through 5 {

    // All Around Margin
    .m-#{$i} {
        margin: #{$i}rem;
    }

    // Verticel Margin 
    .my-#{$i} {
        margin:#{$i}rem 0;
    }

    // Horizontal Margin 
    .mx-#{$i} {
        margin:#{$i}rem 0;
    }

    // All Around Padding
    .p-#{$i} {
        padding: #{$i}rem;
    }

    // Verticel Padding
    .py-#{$i} {
        padding:#{$i}rem 0;
    }

    // Horizontal Padding
    .px-#{$i} {
        padding:#{$i}rem 0;
    }
}

// Rounded Image
.rounded-img {
    border-radius: 50%;
}

// Horizontal rule
.line {
    background-color: #ccc;
    height: 1px;
    margin: 2rem 0;
}

// Class For Hide Elments In Small Device
.hide-sm {
    display: none;

    @include minsmall {
        display: inline-block;
    }
}